# API KEYS
NYC_OPEN_DATA_APP_TOKEN="your-token-here"

# DATABASE CONNECTION
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=DB
POSTGRES_USER=User
POSTGRES_PASSWORD=Password

# DOCKER
AIRFLOW_UID=50000